<a href="https://colab.research.google.com/github/AdityaDevadiga/ETL/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install boto3

Collecting boto3
  Downloading boto3-1.28.36-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.8/135.8 kB 2.9 MB/s eta 0:00:00
Collecting botocore<1.32.0,>=1.31.36 (from boto3)
  Downloading botocore-1.31.36-py3-none-any.whl (11.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.1/11.1 MB 35.4 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0 (from boto3)
  Downloading s3transfer-0.6.2-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.32.0,>=1.31.36->boto3) (2.8.2)
Collecting urllib3<1.27,>=1.25.4 (from botocore<1.32.0,>=1.31.36->boto3)
  Downloading urllib3-1.26.16-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.1/143.1 kB 15.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.36->boto3) (1.16.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.4
    Uninstalling urllib3-2.0.4:
      Successfully uninstalled urllib3-2.0.4
Successfully installed boto3-1.28.36 botocore-1.31.36 jmespath-1.0.1 s3transfer-0.6.2 urllib3-1.26.16

In [2]:
import boto3
import chardet
import pandas as pd
from io import StringIO
import os

# Connect to S3
s3 = boto3.client('s3',
                  aws_access_key_id='******',
                  aws_secret_access_key='***********')

# Retrieve data from S3
bucket_name = 'your_bucket_name'
object_key = 'your_object_key_name'

s3_response = s3.get_object(Bucket=bucket_name, Key=object_key)
s3_data = s3_response['Body'].read()

# Detect the encoding
result = chardet.detect(s3_data)
actual_encoding = result['encoding']

# Decode using the detected encoding
decoded_data = s3_data.decode(actual_encoding)

# Read CSV data into a DataFrame
df = pd.read_csv(StringIO(decoded_data))

# Count the total number of rows in the dataset
num_of_rows = df.shape[0]

# Count the number of rows with null or empty cells
rows_with_null = df[df.isnull().any(axis=1)]
num_rows_with_null = len(rows_with_null)

# Count columns with null or empty cells
columns_with_null = df.columns[df.isnull().any()]
num_columns_with_null = len(columns_with_null)

# Count the number of rows with all columns having values
complete_rows = df.dropna()
num_complete_rows = len(complete_rows)

# Add a new column that counts null values in each row
df['Null_Count_row'] = df.isnull().sum(axis=1)

# Count the number of columns with null values
df['num_columns_with_null'] = df.isnull().any().sum()

# Print results
print("Total number of records in dataset:", num_of_rows)
print("Number of rows with null or empty cells:", num_rows_with_null)
print("Number of columns with null or empty cells:", num_columns_with_null)
print("Number of rows with all columns having values:", num_complete_rows)

# Print DataFrame with the new columns
print(df)

Total number of records in dataset: 995
Number of rows with null or empty cells: 441
Number of columns with null or empty cells: 18
Number of rows with all columns having values: 554
     rank                    Youtuber  subscribers   video views  \
0       1                    T-Series    245000000  2.280000e+11
1       2              YouTube Movies    170000000  0.000000e+00
2       3                     MrBeast    166000000  2.836884e+10
3       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4       5                   SET India    159000000  1.480000e+11
..    ...                         ...          ...           ...
990   991               Natan por Aï¿     12300000  9.029610e+09
991   992    Free Fire India Official     12300000  1.674410e+09
992   993                       Panda     12300000  2.214684e+09
993   994                 RobTopGames     12300000  3.741235e+08
994   995                Make Joke Of     12300000  2.129774e+09

             category                       Title  uploads         Country  \
0               Music                    T-Series    20082           India
1    Film & Animation               youtubemovies        1   United States
2       Entertainment                     MrBeast      741   United States
3           Education  Cocomelon - Nursery Rhymes      966   United States
4               Shows                   SET India   116536           India
..                ...                         ...      ...             ...
990            Sports               Natan por Aï¿     1200          Brazil
991    People & Blogs    Free Fire India Official     1500           India
992               NaN                 HybridPanda     2452  United Kingdom
993            Gaming                 RobTopGames       39          Sweden
994            Comedy                Make Joke Of       62           India

    Abbreviation   channel_type  ...  created_month  created_date  \
0             IN          Music  ...            Mar          13.0
1             US          Games  ...            Mar           5.0
2             US  Entertainment  ...            Feb          20.0
3             US      Education  ...            Sep           1.0
4             IN  Entertainment  ...            Sep          20.0
..           ...            ...  ...            ...           ...
990           BR  Entertainment  ...            Feb          12.0
991           IN          Games  ...            Sep          14.0
992           GB          Games  ...            Sep          11.0
993           SE          Games  ...            May           9.0
994           IN         Comedy  ...            Aug           1.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                       28.1  1.366418e+09               5.36
1                                       88.2  3.282395e+08              14.70
2                                       88.2  3.282395e+08              14.70
3                                       88.2  3.282395e+08              14.70
4                                       28.1  1.366418e+09               5.36
..                                       ...           ...                ...
990                                     51.3  2.125594e+08              12.08
991                                     28.1  1.366418e+09               5.36
992                                     60.0  6.683440e+07               3.85
993                                     67.0  1.028545e+07               6.48
994                                     28.1  1.366418e+09               5.36

     Urban_population   Latitude  Longitude  Null_Count_row  \
0         471031528.0  20.593684  78.962880               0
1         270663028.0  37.090240 -95.712891               1
2         270663028.0  37.090240 -95.712891               0
3         270663028.0  37.090240 -95.712891               0
4         471031528.0  20.593684  78.962880               0
..                ...        ...        ...             ...
990       183241641.0 -14.235004 -51.925280               0
991       471031528.0  20.593684  78.962880               0
992        55908316.0  55.378051  -3.435973               1
993         9021165.0  60.128161  18.643501               0
994       471031528.0  20.593684  78.962880               0

     num_columns_with_null
0                       18
1                       18
2                       18
3                       18
4                       18
..                     ...
990                     18
991                     18
992                     18
993                     18
994                     18

[995 rows x 30 columns]